.theme-toggle
    .theme-toggle__label Переключение темы
    .row
        .w-50
            .theme-toggle__btn-box
                button.theme-toggle__btn.active#light Светлая
                button.theme-toggle__btn#dark Тёмная